[user]
	name = Kenny Elshoff
	email = kelshoff@grahamdigital.com
	signingkey = ~/.ssh/id_ed25519.pub

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[branch]
	autosetuprebase = always

[tag]
	forceSignAnnotated = true

[init]
	defaultBranch = main

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	pager = true

[color "branch"]
	current = magenta
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green
	changed = yellow
	untracked = magenta

[alias]
	co = checkout
	st = status
	br = branch
	rb = rebase
	ci = commit
	up = push --set-upstream origin
	dad = !curl https://icanhazdadjoke.com/
	ff = merge --ff-only --no-commit
	origdel = push origin --delete
	unstage = reset HEAD --
	last = log -1 HEAD
	oneline = log --oneline
	updateremote = remote update origin --prune

[rerere]
	enabled = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

[core]
	editor = nano
	pager = delta

# Machine-local overrides (tokens, etc.) live in ~/.gitconfig.local
[include]
	path = ~/.gitconfig.local
